# URL API Backend E-Library
# Petunjuk: Ganti <IP_LAPTOP_KAMU> dengan alamat IPv4 lokal komputermu
# Contoh jika menggunakan koneksi Wi-Fi yang sama: http://192.168.1.5:3000/api
# Contoh jika menggunakan emulator Android (local loopback): http://10.0.2.2:3000/api
EXPO_PUBLIC_API_URL=http://10.4.27.41:3000/api
