# =========================
# Environment / Secrets
# =========================
.env
.env.local
.env.*.local

# =========================
# Dependencies
# =========================
node_modules/

# =========================
# React Native / Expo
# =========================
.expo/
.expo-shared/
dist/
web-build/

# Android
android/app/build/
android/build/
android/.gradle/
android/local.properties
*.keystore
!debug.keystore

# iOS
ios/build/
ios/Pods/
ios/Podfile.lock
*.xcworkspace
*.xcuserstate

# =========================
# Build & Cache
# =========================
.gradle/
.cxx/
*.hprof
.metro-health-check*
.bundle/

# =========================
# Logs
# =========================
npm-debug.*
yarn-debug.*
yarn-error.*
*.log

# =========================
# OS / Editor
# =========================
.DS_Store
.idea/
.vscode/
*.iml

assets/images/